.container {
  line-height: 3;
  max-width: 48rem;
  margin-left: auto;  
  margin-right: auto;
  font-size: 18px;
}

.sticky-sharebar {
    display: flex;
    align-items: center;
    position: fixed;
    height: 100%;
    top: 0;
    right: 20px;
    pointer-events: none;
    z-index: 10;
    transition: visibility 0s .3s, opacity .3s, transform .3s;
    transform: translateX(10%);
    opacity: 0;
    visibility: hidden;
  }
  
  
  .sticky-sharebar--on-target {
    transition: visibility 0s, opacity .3s, transform .3s;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  .sticky-sharebar__list {
    pointer-events: auto;
    background-color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 50em;
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
    padding: 4px;
    list-style: none;
  }
  
  .sticky-sharebar__btn {
    position: relative;
    display: block; 
    display: flex;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
  }
    
  .icon {
    position: relative;
    color: hsl(240, 1%, 48%); 
    fill: currentColor;
    display: block;
    margin: auto;
    z-index: 2;
    transition: color .2s;
    height: 1em;
    width: 1em;
  }
  
  .icon:hover {
    color: hsl(240, 8%, 12%);
  }

    
  